/* .thumbnail-selector {
  overflow: scroll;
  width: 106px;
  float: left;
  margin-left: 0;
  height: 80vh;
}

.thumbnail-list {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.thumbnail-item {
  display: inline-block;
  vertical-align: baseline;
  padding-bottom: 15px;
  height: 150px;
  width: 100%;
  background-color: #ffffff;
}

.dicom-viewer {
  width: 60%;
  display: inline-block;
  height: 80vh;
  margin-left: 20px;
}

.dicom-wrapper {
  margin-top: 20px;
}

#dicomImage {
  height: 500px;
} */

div[id^="thumbnail-list"] .thumbnailElement {
    float: left;
    width: 85px;
    margin: 5px;
    padding: 3px;
    border: 5px solid #999999;
    color: #333333;
    clear: both;
    text-align: center;
  }
  
  .thumbnail-selector {
    position: absolute;
    top: 17px;
    left: -70;
    border-bottom-width: 1px;
    right: 0px;
    bottom: 200px;
    width: 100px;
    min-height: 25px;
    overflow-y: auto;
    overflow-x: auto;
    float: right;
    border: 5px solid red;
    box-sizing: border-box;
  }
  .thumbnail-list:hover {
    border: 1px solid #777;
  }
  .thumbnail-list a img {
    width: 68px;
    height: 52px;
    margin-right: 5px;
  }
  
  .thumbnail-list div {
    padding: 10px;
  }
  